@import base.sass

.offerses
    background-image: url('../imgs/Rectangle 78.png')
    background-position: center
    background-repeat: no-repeat
    .offers
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        padding: 20px
        gap: 30px
        h2
            font-size: 50px
        .offer
            display: flex
            flex-direction: column
            align-items: center
            .off  
                margin: 0 
                padding: 0
                width: 1218px
                height: 128px
                background: linear-gradient(268.06deg, #21D0DB 1.64%, #1BE484 99.24%), #2DD999
                box-shadow: 0px 9px 23px rgba(32, 94, 71, 0.25)
                border-radius: 20px
                display: flex
                align-items: center
                justify-content: space-around
                &:hover
                    cursor: pointer
                    color: white
                h4
                    font-size: 36px
                img
                    margin-left: 600px
                    transition: all 0.25s linear
                    &.transform
                        transform: rotate(180deg)
            .about
                margin: 0
                padding: 0
                width: 943px
                padding: 30px 50px 30px 50px
                background-color: white
                display: none
                box-shadow: -2px 1px 2px rgba(0,0,0,0.15), 2px 1px 2px rgba(0,0,0,0.15)
