@import base.sass

.services
    display: flex
    flex-direction: column
    align-items: center
    gap: 50px
    padding: 50px 0 50px 0
    h2 
        margin: 0
        font-size: 50px
    .service-cards
        width: 1108px
        gap: 20px
        display: flex
        justify-content: center
        flex-wrap: wrap
        .service-card
            display: flex
            justify-content: center
            align-items: center
            width: 262px
            height: 97px
            background: linear-gradient(0deg, #F4FAF7, #F4FAF7), #F4FAF7
            box-shadow: 0px 9px 11px rgba(10, 65, 44, 0.25)
            border-radius: 20px
            svg
                width: 34px
                height: 48px
                fill: #0BBD7B
            &:hover
                background: linear-gradient(268.06deg, #21D0DB 1.64%, #1BE484 99.24%), #2DD999
                box-shadow: 0px 15px 50px rgba(45, 217, 153, 0.5)
                cursor: pointer
                fill: white
                svg
                    fill: white
                p
                    color: white
                 
            p
                width: 158px
                text-align: center
